textarea{
    margin-left: 3%;
}
input.post{
      text-decoration: none;
      background-color: transparent;
      border: none;
}
div.btn{
    margin-left: 3%;
}

textarea.answer{
    background-color: white;
    resize: none;
    border: none;
    font-size: 12pt;
}

#delete{
  margin-left: 90%;
}
