<h1>{{topic}}</h1>
Asked By: {{questionAuthor}}: <textarea autosize class="answer" disabled  cols="150">{{questionText}}</textarea> <hr>


<ul>
  <li *ngFor="let ref of answersRefs | async"><div>{{ref.author}} - {{ref.date | date}}</div> 
  <textarea autosize class="answer" disabled  cols="150">{{ref.text}}</textarea> <hr></li>
</ul>

<form *ngIf="authInfo | async" (ngSubmit)="addPost(f)" #f="ngForm">
  <br>
  <textarea autosize required ngModel class="form-control"  id="postText" class="wmd-input processed" name="postText" cols="100" rows="5"  tabindex="1"
    data-min-length=""></textarea>
  <br>
  <div class="btn btn-primary btn-primary" ><input class="post" type="submit" value="Post Your Answer"></div>
</form>

