.title{
  text-align: center;
  font-family: cursive;
}

a.title-link {
  text-decoration: none;
}

h1.page-header{
  font-size: 50pt;
}

.upper-zone{
  padding-left: 91%;
  padding-top: 0.5%;
}







