<div class="nav-bar" div>
  <div class="upper-zone">
    <button *ngIf="!logged" (click)="signUp()" class="invisibleBtn"> <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="sign" class="btn btn-sm btn-primary"  ><span class="glyphicon glyphicon-log-in"></span>Sign Up</a></button>
    <button (click)="logOut()" *ngIf="logged" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-log-out"></span> Sign out</button>
    <div *ngIf="logged">User: {{ (userInfo | async)?.username }}</div>
  </div>
  <div class="title">
    <a class="title-link" routerLink="home">
      <h1 class="page-header">{{header}}</h1>
    </a>
  </div>
  <ul class="nav nav-tabs">
    <li> <a role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="home">Home</a></li>
    <!--Remove it if you don't like it-->
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="true">
    Categories
    <span class="caret"></span>
  </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li *ngFor="let categorie of categories | async"> <a (click)="onSelect(categorie)"> {{categorie.$key}} </a> </li>
      </ul>
    </div>
  </ul>
</div>
<!-- Get info like this <div>{{ (authInfo | async)?.uid }}</div>-->
<router-outlet></router-outlet>
