.title{
  text-align: center;
  font-family: cursive;
}

a{
  margin-left: 10;
  text-decoration: none;
}

li{
  padding: 0;
  margin: 0;
}

h1.page-header{
  font-size: 50pt;
}

.upper-zone{
  padding-left: 91%;
  padding-top: 0.5%;
}
